In [159]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [168]:
url = "https://www.iplt20.com/auction#:~:text=The%20TATA%20IPL%202023%20Player,the%20ten%20franchises%20in%20Kochi."
r = requests.get(url)
#r
soup = BeautifulSoup(r.text, "lxml")
#soup
table = soup.find('table', class_= "ih-td-tab auction-tbl")
title = table.find_all('th')
#title

header=[]

for i in title:
    name = i.text
    header.append(name)
header
df = pd.DataFrame(columns=header)
#df
rows = table.find_all("tr")
#rows
for i in rows[1:]:
    first_td=i.find_all("td")[0].find("div", class_ = "ih-pt-ic").text.strip()
    data = i.find_all("td")[1:]
    row=[tr.text for tr in data]
    row.insert(0,first_td)
    l= len(df)
    df.loc[l]= row
df

df.to_csv("iplauctionstats.csv")

                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹1,50,00,000                 8            25
1               Delhi Capitals    ₹4,45,00,000                 8            25
2               Gujarat Titans    ₹4,45,00,000                 8            25
3        Kolkata Knight Riders    ₹1,65,00,000                 8            22
4         Lucknow Super Giants    ₹3,55,00,000                 8            25
5               Mumbai Indians       ₹5,00,000                 8            24
6                 Punjab Kings   ₹12,20,00,000                 7            22
7             Rajasthan Royals    ₹3,35,00,000                 8            25
8  Royal Challengers Bangalore    ₹1,75,00,000                 8            25
9          Sunrisers Hyderabad    ₹6,55,00,000                 8            25